In [1]:
import pandas as pd
import numpy as np
import requests
import re
from bs4 import BeautifulSoup

In [3]:
park_info = pd.read_csv('../data/park_info.csv')

In [4]:
park_code_ = park_info['parkCode'].unique()

# Convert values to uppercase and store them in a list
park_code_list = [value.upper() for value in park_code_]

In [5]:
len(park_code_list)

462

In [54]:
park_code = "TUAI"
url = f"https://irma.nps.gov/Stats/MvcReportViewer.aspx?_id=7e661565-c923-497d-8d4d-8fc0dcc43632&_m=Remote&_r=/NPS.Stats.Reports/Park Specific Reports/Recreation Visitors By Month (1979 - Last Calendar Year)&_15=True&_16=True&_18=True&_19=True&_34=False&_35=False&_39=880px&Park={park_code}"
page = requests.get(url)
if page.status_code == 200:
    try:
        soup = BeautifulSoup(page.content, "html.parser")
        #print(soup.prettify())
        target_div = soup.find("div")
        tables = target_div.find_all('table')

        result=[]
        for table in tables:
            # Extract data from each table
            rows = table.find_all('td')
            for column in rows:
                result.append(column)
        visitor_data=[]
        for item in result:
            visitor_data.append(item.text)
        start_index = 105
        stop_string = 'Recreation'
        visitor_data_select = []
        for index in range(start_index,len(visitor_data)):
            item = visitor_data[index]
    
            if stop_string in item:
                break
            visitor_data_select.append(item)
        visitor_data_select = visitor_data_select[:-1]
        num_columns = 14
        num_rows = len(visitor_data_select) // num_columns
        reshaped_data = pd.DataFrame(visitor_data_select).values.reshape(num_rows, num_columns)
        visitor_df = pd.DataFrame(reshaped_data[1:], columns=reshaped_data[0])
    except:
        print(f"The URL returned a response. Moving on to the next URL.")

In [55]:
visitor_df

,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
0,2023,"1,086","2,314","2,842","2,456","2,499","2,341","2,079","1,088","1,178","1,368","1,758","1,073","22,082"
1,2022,495,888,"1,531","1,559","1,366","1,547","1,974","1,176","1,587","1,296","1,559","1,159","16,137"
2,2021,135,239,488,283,500,"1,096","1,792",889,562,739,874,460,"8,057"
3,2020,"1,575","3,358","1,327",0,0,0,0,25,40,227,181,110,"6,843"
4,2019,126,"2,391","3,801","3,351","3,181","3,195","3,610","1,814","2,073","2,171","3,217","1,167","30,097"
5,2018,"1,534","2,690","3,378","3,272","2,360","3,403","3,096","1,923","1,140","2,157","1,175",701,"26,829"
6,2017,"1,391","4,479","4,775","4,352","2,868","4,351","5,811","3,096","2,816","2,029","2,129","1,225","39,322"
7,2016,808,"2,297","2,400","2,488","2,385","3,200","5,221","2,444","2,630","3,007","2,583","1,670","31,133"
8,2015,"1,594","1,675","2,143","2,467","2,070","3,575","3,031","1,367","1,286","1,378","1,317",759,"22,662"
9,2014,786,"2,039","3,742","1,815","1,974","3,056","3,801","1,728",877,"2,186","1,820",495,"24,319"
10,2013,915,"2,062","3,480","1,765","1,692","2,724","2,014","1,310","1,057",605,943,734,"19,301"
11,2012,"1,864","3,347","3,235","2,108","1,870","3,322","2,443","1,243","1,261","1,217",970,836,"23,716"
12,2011,578,"2,298","1,814","1,720","1,698","1,520","1,992","1,035",778,"1,100",980,731,"16,244"
13,2010,"2,367","8,819","5,168","5,719","10,013","6,136","10,904","4,952","3,730","1,191","1,390",438,"60,827"
14,2009,"3,033","6,478","4,464","5,391","6,460","6,727","7,717","3,601","4,134","2,561","5,307","2,544","58,417"
15,2008,"1,905","2,274","2,310","4,031","2,263","2,389","3,459","2,412","1,221","7,950","16,062","4,055","50,331"
16,2007,434,"1,261","1,448",984,"1,069","1,772","2,051","1,922",770,"1,296",866,812,"14,685"
17,2006,835,"1,032","1,431",966,968,"1,014","1,617",669,430,"1,290",551,542,"11,345"
18,2005,536,"1,335",991,"1,184","1,061",718,"1,661",683,422,696,678,358,"10,323"
19,2004,417,"1,046",949,"1,175","1,259","1,214","2,135",729,998,673,599,301,"11,495"
20,2003,490,"1,188","1,180","1,804","1,018",951,"1,563",978,496,496,611,310,"11,085"

In [49]:
start_index = 105
stop_string = 'Recreation'
selected_items = []
for index in range(start_index,len(visitor_data)):
    item = visitor_data[index]
    
    if stop_string in item:
        break
    selected_items.append(item)

In [77]:
visitor_dfs=[]
for codes in park_code_list:
    url = f"https://irma.nps.gov/Stats/MvcReportViewer.aspx?_id=7e661565-c923-497d-8d4d-8fc0dcc43632&_m=Remote&_r=/NPS.Stats.Reports/Park Specific Reports/Recreation Visitors By Month (1979 - Last Calendar Year)&_15=True&_16=True&_18=True&_19=True&_34=False&_35=False&_39=880px&Park={codes}"
    page = requests.get(url)
    if page.status_code == 200:
        try:
            soup = BeautifulSoup(page.content, "html.parser")
            target_div = soup.find("div")
            tables = target_div.find_all('table')

            result=[]
            for table in tables:
            # Extract data from each table
                rows = table.find_all('td')
                for column in rows:
                    result.append(column)
            
            visitor_data=[]
            for item in result:
                visitor_data.append(item.text)
            start_index = 119
            stop_string = 'Recreation'
            visitor_data_select = []
            for index in range(start_index,len(visitor_data)):
                item = visitor_data[index]
                if stop_string in item:
                    break
                visitor_data_select.append(item)
            visitor_data_select = visitor_data_select[:-1]
            num_columns = 14
            num_rows = len(visitor_data_select) // num_columns
            visitor_df = pd.DataFrame(visitor_data_select).values.reshape(num_rows, num_columns)
            visitor_df_2 = pd.DataFrame(visitor_df)
            visitor_df_2['parkCode'] = codes
            visitor_dfs.append(visitor_df_2)
        except Exception as e:
            continue

In [78]:
visitor_dfs[0]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, parkCode]
Index: []

In [79]:
visitor_dfs[5]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,parkCode
0,2023,"502,751","444,164","544,811","534,799","527,250","557,562","552,945","572,047","645,017",,,,"4,881,346",NATR
1,2022,"574,486","534,645","586,183","599,239","555,142","584,864","510,932","539,168","579,633","534,620","476,475","468,146","6,543,533",NATR
2,2021,"476,709","424,676","543,333","536,813","526,140","636,990","567,903","535,350","570,815","539,975","524,752","517,890","6,401,346",NATR
3,2020,"484,943","442,739","515,828","453,763","518,817","547,092","560,788","528,326","542,426","568,238","501,727","460,121","6,124,808",NATR
4,2019,"485,642","472,579","550,701","560,343","540,971","562,198","578,598","536,957","562,171","518,106","469,752","458,023","6,296,041",NATR
5,2018,"520,652","493,303","548,460","562,551","532,313","567,551","593,998","555,756","552,542","528,068","448,299","458,946","6,362,439",NATR
6,2017,"451,904","488,458","554,127","564,210","551,306","559,359","584,721","533,212","577,087","529,567","473,850","458,261","6,326,062",NATR
7,2016,"464,284","435,680","491,630","514,979","493,427","525,501","564,420","507,958","490,342","533,071","455,525","414,498","5,891,315",NATR
8,2015,"470,262","414,844","484,650","509,178","486,175","516,654","542,031","492,061","476,818","518,523","459,006","415,610","5,785,812",NATR
9,2014,"466,886","422,542","493,266","513,830","490,267","519,539","550,245","496,760","488,825","523,467","461,799","419,048","5,846,474",NATR
10,2013,"443,307","422,579","349,273","512,248","535,303","563,565","587,695","533,555","534,955","546,421","505,759","478,080","6,012,740",NATR
11,2012,"430,187","435,840","423,893","493,391","473,498","501,930","534,860","476,022","465,681","506,418","426,020","392,928","5,560,668",NATR
12,2011,"479,027","458,335","492,723","515,662","500,391","502,554","568,114","482,520","470,050","489,568","403,625","402,774","5,765,343",NATR
13,2010,"385,212","423,678","508,498","528,248","515,964","519,962","555,496","510,763","517,471","501,305","479,274","465,079","5,910,950",NATR
14,2009,"481,273","450,714","477,008","508,905","490,961","526,978","544,750","490,269","498,369","524,966","480,463","459,707","5,934,363",NATR
15,2008,"475,204","461,182","475,037","488,363","475,922","491,981","514,888","478,245","450,304","517,341","468,697","450,071","5,747,235",NATR
16,2007,"486,268","447,771","498,575","505,335","403,119","491,857","524,859","474,109","503,868","512,747","479,940","449,218","5,777,666",NATR
17,2006,"474,839","434,219","477,716","503,946","487,032","370,302","525,983","480,152","494,913","529,587","477,071","457,823","5,713,583",NATR
18,2005,"428,051","407,490","541,775","468,209","467,215","479,246","500,442","466,270","458,832","377,935","445,641","441,176","5,482,282",NATR
19,2004,"424,687","430,769","445,834","451,028","444,013","470,270","508,307","458,609","451,955","487,854","420,190","395,711","5,389,227",NATR
20,2003,"442,989","401,744","476,081","499,371","467,168","528,333","526,504","446,900","436,135","478,340","448,321","404,098","5,555,984",NATR
21,2002,"430,710","442,774","460,834","505,587","474,993","507,257","530,731","476,031","463,066","495,406","451,433","404,348","5,643,170",NATR
22,2001,"438,429","435,503","475,742","268,799","485,915","504,759","577,879","485,572","464,567","516,144","462,205","436,837","5,552,351",NATR
23,2000,"443,970","452,684","488,216","499,540","487,455","493,967","518,593","487,101","485,690","508,293","453,649","418,025","5,737,183",NATR
24,1999,"446,534","433,819","470,419","606,231","580,675","630,186","617,346","519,634","516,760","617,577","521,828","431,952","6,392,961",NATR
25,1998,"458,349","431,183","467,460","522,766","495,085","527,694","557,394","475,968","479,875","525,454","468,012","400,854","5,810,094",NATR
26,1997,"469,462","419,169","601,276","499,019","561,745","499,900","568,455","501,200","491,159","519,406","449,924","412,263","5,992,978",NATR
27,1996,"460,701","457,449","499,342","543,331","505,040","542,799","524,131","511,931","541,407","547,975","503,949","450,555","6,088,610",NATR
28,1995,"451,087","398,380","492,095","518,024","491,012","518,333","503,147","485,873","520,584","534,817","484,115","451,594","5,849,061",NATR
29,1994,"396,739","383,668","479,301","458,513","355,593","503,816","495,323","480,401","505,501","514,880","477,912","236,154","5,287,801",NATR
30,1993,"444,808","387,356","473,827","510,368","489,912","515,996","507,607","487,249","510,076","516,500","476,305","432,876","5,752,880",NATR
31,1992,"448,601","397,069","483,700","511,396","488,228","538,566","501,100","470,766","499,816","549,802","467,956","419,191","5,776,191",NATR
32,1991,"440,355","372,102","461,634","502,237","468,253","597,568","528,961","492,463","505,066","537,477","488,252","438,329","5,832,697",NATR
33,1990,"437,233","380,787","488,352","492,115","452,844","486,197","478,780","463,560","479,423","490,858","458,280","396,824","5,505,253",NATR
34,1989,"834,673","784,936","950,723","945,971","918,855","936,806","959,449","946,837","878,585","858,960","906,519","915,565","10,837,879",NATR
35,1988,"743,689","820,369","940,639","1,198,316","1,017,535","1,036,179","1,108,681","1,156,397","939,409","906,099","892,808","925,461","11,685,582",NATR
36,1987,"777,661","771,375","760,757","795,208","801,709","840,228","920,863","869,466","817,792","914,135","891,444","780,976","9,941,614",NATR
37,1986,"1,020,379","986,027","1,044,545","1,189,112","1,222,217","1,399,054","1,261,199","1,188,355","1,254,803","1,246,063","1,283,635","1,268,619","14,364,008",NATR
38,1985,"956,451","860,557","1,041,113","1,114,799","1,154,782","1,184,273","1,133,518","1,166,127","1,101,823","1,097,562","1,058,401","1,062,567","12,931,973",NATR
39,1984,"949,662","1,014,174","1,180,553","1,120,235","1,265,507","1,203,280","1,185,418","1,142,721","1,156,299","1,069,974","1,040,757","1,149,681","13,478,261",NATR
40,1983,"1,054,393","978,015","1,056,718","1,058,973","1,064,863","1,026,273","1,058,457","1,074,981","1,079,919","1,090,891","1,114,550","1,138,089","12,796,122",NATR
41,1982,"784,831","828,322","951,804","992,651","960,251","917,136","931,535","907,159","899,429","1,000,153","989,650","888,219","11,051,140",NATR
42,1981,"901,835","784,097","891,885","964,525","965,681","969,370","1,012,790","992,409","990,215","965,899","915,434","806,468","11,160,608",NATR
43,1980,"785,810","738,836","838,242","875,478","919,311","910,509","882,307","890,832","882,331","978,983","924,846","974,081","10,601,566",NATR
44,1979,"738,908","670,479","844,935","721,983","807,937","786,826","752,698","826,607","753,623","810,389","925,643","835,277","9,475,305",NATR

In [80]:
park_visitor_data = pd.concat(visitor_dfs[2:], ignore_index=True)

In [88]:
park_visitor_data.to_csv('../data/park_visitor_data.csv')

In [85]:
park_visitor_data.columns = ("YEAR", "JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC","TOTAL","PARKCODE")